<!DOCTYPE html lang="pt-BR">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Meta Tags de SEO -->
    <meta name="author" content="Essência Bahiana">
    <meta name="robots" content="index, follow">

    <!-- Open Graph (OG) tags -->
    <meta property="og:type" content="website">

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image">

    <!-- Google Adsense -->
    <meta name="google-adsense-account" content="ca-pub-6126540238237710">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6126540238237710"
     crossorigin="anonymous"></script>

    <link rel="icon" type="image/svg" sizes="128x128" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" sizes="96x96" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" sizes="32x32" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" sizes="16x16" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" href="icons/favicon.svg">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
