<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Meta Tags de SEO -->
    <meta name="description" content="Descubra o melhor de Porto Seguro com a Essência Bahiana. Oferecemos passeios personalizados e traslados confortáveis para uma experiência de viagem autêntica e memorável na Bahia.">
    <meta name="keywords" content="Turismo Porto Seguro, Passeios em Porto Seguro, Traslados Porto Seguro, Essência Bahiana, Experiências de Viagem na Bahia, Turismo Bahia, Viagem Porto Seguro, Pacotes Porto Seguro, Porto Seguro, turismo, passeios, traslados, viagens, experiências, destinos turísticos, Brasil, Bahia, Awin">
    <meta name="author" content="Essência Bahiana">
    <meta name="robots" content="index, follow">

    <!-- Open Graph (OG) tags -->
    <meta property="og:title" content="Descubra Porto Seguro com Essência Bahiana">
    <meta property="og:description" content="Junte-se a nós para experiências turísticas inesquecíveis em Porto Seguro. Conheça a cultura, a natureza e a hospitalidade bahiana.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://essenciabahiana.com.br">
    <meta property="og:image" content="https://essenciabahiana.com.br/hero.jpg">

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Descubra Porto Seguro com Essência Bahiana">
    <meta name="twitter:description" content="Junte-se a nós para experiências turísticas inesquecíveis em Porto Seguro. Conheça a cultura, a natureza e a hospitalidade bahiana">
    <meta name="twitter:image" content="https://essenciabahiana.com.br/hero.jpg">


    <link rel="icon" type="image/svg" sizes="128x128" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" sizes="96x96" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" sizes="32x32" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" sizes="16x16" href="icons/favicon.svg">
    <link rel="icon" type="image/svg" href="icons/favicon.svg">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
