// app global css in SCSS form
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', 'sans-serif';
}

p {
  color: $secondary;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary
}

@layer base {
  .whatsapp-button {
    @apply transition-colors duration-200;
  }
  .whatsapp-button:hover {
    background-color: var(--q-color-accent-light); /* Ajuste para uma cor de hover se necessário */
  }
}

.blog-content {
  p {
    @apply mb-6 text-lg indent-6 text-justify;
    color: $dark
  }

  > img {
    @apply rounded-lg m-3
  }
}
