// app global css in SCSS form
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Open Sans', 'sans-serif';
}

p {
  color: $secondary;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary
}

@layer base {
  .whatsapp-button {
    @apply transition-colors duration-200;
  }
  .whatsapp-button:hover {
    background-color: var(--q-color-accent-light); /* Ajuste para uma cor de hover se necessário */
  }
}

.blog-content {
  p {
    @apply mb-6 text-lg indent-14 text-justify;
    color: $dark
  }

  > img,
  p > img {
    @apply rounded-lg my-3 w-full md:w-1/2
  }
}
